<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body>
    <!-- TODO: answer here -->
    <main class="flex items-center justify-center h-screen bg-gray-100" >
        <form action="/register/process" method="post">
            <div class="bg-white w-96 p-6 rounded shadow-sm">
                <h1 class="font-bold text-2xl m-4 text-center">Register account</h1>
                <label class="text-gray-700">Fullname</label>
                <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 hover:bg-gray-200" type="text" name="fullname" id="fullname">
                <label class="text-gray-700">Email</label>
                <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 hover:bg-gray-200" type="text" name="email" id="email">
                <label class="text-gray-700">Password</label>
                <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 hover:bg-gray-200" type="password" name="password" id="password">
                <button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors">Register</button>
                <div class="mt-4 text-center">
                    <a class="hover:text-blue-500" href="/login">Login</a>
                </div>                
            </div>
        </form>
    </main>
</body>
</html>