<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <main class="flex items-center justify-center h-screen bg-gray-100">
        <div class="bg-white w-96 p-6 rounded shadow-sm">
            <h1 class="font-bold text-2xl m-4 text-center">Welcome to kanban app</h1>
            <a href="/login">
                <button type="submit"
                    class="mb-4 bg-blue-500 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors">
                    Login
                </button>
            </a>
            <a href="/register">
                <button type="submit"
                    class="mt-4 bg-blue-500 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors">
                    Register
                </button>
            </a>
        </div>
    </main>
</body>

</html>